* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.90) 30%, #FAFAFA 30%);
    background-position: top;
    color: rgb(26, 25, 25);
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
    display: flex;
}

#main {
    margin: auto;
    padding: 30px;
}

#title, #title-link {
    font-family: 'Dancing Script', cursive;
    color: whitesmoke;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 5px;
}

#title > #title-link {
    text-decoration: none;
}

#title > #title-link:hover {
    cursor: pointer;
    color: rgb(245, 245, 245,0.8);
}

#tribute-card {
    padding-top: 50px;
    display: flex;
    max-width: 100%;
}

#tribute-info {
    background-color: #FFF; 
    margin-right: 3em;
    padding: 2em;
    padding-left: 50px;
    border-radius: 5px;
    flex-basis: 70%;
}

#tribute-info > .poem {
    margin-top: 2em;
}

.poem > p {
    margin-top: 1em;
    padding-left: 3em;
    text-indent: -3em;
    text-align: left;
    line-height: 1.25em;
    font-size: 1.15em;
    letter-spacing: 1px;
}

#tribute-info > h3 {
    font-size: 1.75em;
    font-weight: bold;
}

#tribute-info > #tribute-link {
    margin-top: 1.5em;
    display: block;
    font-size: 1em;
    color: rgb(47, 181, 248);
    font-weight: bold;
    letter-spacing: 1.25px;
    text-decoration: none;
}

#tribute-info > #tribute-link:hover {
    color: rgb(37, 138, 189);
    text-decoration: underline;
    transition: color 0.5s ease-in 0.4s;
}

#img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image {
    border-radius: 5px;
    box-shadow: 0px 5px 2px 1px rgba(173, 173, 173, 0.2) ;
    max-width: 100%;
}

#img-caption {
    display: block; 
    padding: 1.10em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.80em;
    color: rgb(26, 25, 25);
    text-align: center;
    letter-spacing: 0.80px;
}

@media (max-width: 1000px) and (min-width: 400px) and (orientation: portrait) {
    body {
        background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.90) 25%, #FAFAFA 10%);
    }

    #title {
        font-size: 1.30em;
    }

    #img-div {
        order: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #image {
        max-width: 100%;
    }

    #tribute-card {
        flex-direction: column;
        align-items: center;
    }

    #tribute-info {
        margin: auto;
        border-radius: 0;
    }

    #tribute-link {
        text-align: center;
        font-size: 0.80em;
    }

    #tribute-info > h3 {
        text-align: center;
        font-size: 1.50em;
    }

    .poem {
        margin: auto;
    }

    .poem > p {
        font-size: 1em;
    }
}

@media (max-width: 399px) {
    body {
        background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.90) 20%, #FAFAFA 10%);
    }

    #title {
        font-size: 1.05em;
    }

    #tribute-card {
        flex-direction: column;
        align-items: center;
    }

    #img-div {
        order: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #image {
        max-width: 80%;
    }

    #tribute-info {
        margin: auto;
        border-radius: 0;
    }

    #img-caption {
        font-size: 0.75em;
    }

    #tribute-link {
        text-align: center;
        font-size: 0.70em;
    }

    #tribute-info > h3 {
        text-align: center;
        font-size: 1.20em;
    }

    .poem {
        margin: auto;
    }

    .poem > p {
        font-size: 0.75em;
        letter-spacing: 0px;;
    }
}

@media (max-width: 825px) and (orientation: landscape) {
    #img-caption {
        color: whitesmoke;
    }
}
