/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** CSS Reset ends here *****/

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.90) 30%, #FAFAFA 30%);
    background-position: top;
    color: rgb(26, 25, 25);
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
}

#main {
    margin: auto;
    padding: 30px;
}

#title {
    font-family: 'Dancing Script', cursive;
    color: whitesmoke;
    transition: color 0.7s ease-in 0.4s;
    text-align: center;
    font-size: 3.5em;
    font-weight: 900;
    letter-spacing: 5px;
}

#tribute-card {
    padding-top: 50px;
    display: flex;
    width: 100%;
}

#img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image {
    border-radius: 5px;
    box-shadow: 0px 5px 2px 1px rgba(173, 173, 173, 0.2) ;
    max-width: 100%;
}

#img-caption {
    display: block; 
    padding: 1.10em;
    font-size: 0.60em;
    color: rgb(26, 25, 25);
    text-align: center;
}

#tribute-info {
    background-color: #FFF; 
    margin-right: 3em;
    padding: 2em;
    padding-left: 50px;
    border-radius: 5px;
    font-size: 1em;
    flex-basis: 70%;
}

#tribute-info > p {
    margin-top: 1em;
    text-align: left;
    line-height: 1.25em;
}

#tribute-info > .beginning {
    margin-top: 2em;
}

#tribute-info > h3 {
    font-size: 1.75em;
    font-weight: bold;
}

#tribute-link {
    margin-top: 10px;
    display: block;
    font-size: 1em;
    color: #2fb5f8;
    font-weight: bold;
}

#title:hover {
    cursor: pointer;
    color: rgb(245, 245, 245,0.8);
}

@media (max-width: 1000px) {
    #tribute-card {
        flex-direction: column;
        align-items: center;
    }

    #img-div {
        order: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #tribute-info {
        margin: auto;
        border-radius: 0;
    }

    #tribute-link {
        text-align: center;
    }

    #tribute-info > h3 {
        text-align: center;
        font-size: 1.5em;
    }
    #tribute-info > h5 {
        text-align: center;
    }
    #tribute-info > p {
        text-align: center;
        font-size: 0.95em;
    }

    #image {
        max-width: 100%;
    }
}
